@page "/lazy"

@using Proyecto2.Shared.DTOs
@using Proyecto2.Shared.Contracts
@inject IAutorService AutorService

<h3 class="text-2xl font-bold mb-4"> Lista de Autores</h3>

@if (_autores == null)
{
    <p>Cargando autores...</p>
}
else if (!_autores.Any())
{
    <p>No hay autores registrados.</p>
}
else
{
    <ul class="list-disc pl-5">
        @foreach (var autor in _autores)
        {
            <li>@autor.NombreCompleto (@autor.FechaNacimiento?.ToShortDateString())</li>
        }
    </ul>
}

@code {
    private List<AutorDto>? _autores;

    protected override async Task OnInitializedAsync()
    {
        _autores = await AutorService.ObtenerTodosAsync();
    }
}
